{% extends "site_base.html" %}

{% block head_title %}hwasubun{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% autoescape off %}
    <base href="http://www.nongsaro.go.kr/">
    <div style="width:600px">
            {%  for item in param %}
            {{ item.content }}

    </div>
                <style>
                img {width:300px;}
                .bx img {width:50px;}
                </style>
    <div style="width:600px">
        <h2><span class="label label-success"> 이 식물 키우기</span></h2>
        <table><tr>
        <form method="get" action="http://{{ SITE_NAME }}/save/">
            <input type="hidden" name="plantid" value="{{ id }}">
            <input type="hidden" name="plantname" value="{{ item.name }}">
            <input type="hidden" name="plantpic" value="{{ item.pic }}">
            <td><strong>화분 아이디:</strong></td> <td><input type="text" name="userid"><br/></td>
            </tr><tr>
            <td><strong>이름:</strong></td> <td><input type="text" name="username"><br/></td>
            <tr><td colspan="2" align="right">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" class="btn btn-warning" onclick="submit()">키우기</button>
        </td></tr>

            </form>
        </tr></table>
    {%  endfor %}
    </div>
{% endautoescape %}

{% endblock %}
