{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}화수분{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h2>화수분에 오신것을 환영합니다</h2>


        <span id="msg"></span>
<br/><br/>
        <a href='#' onclick='reset_storage()'>reset</a> / <a href='#' onclick='set_demodata()'>set demo</a>
        <!--
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}


            {% endif %}
          -->
        </div>
    </section>
    <section>
        <div class="container" id="search_c">
            <h2 class="text-center">{% blocktrans %}화수분 이란?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>화수분</b> 은 여러분들의 모든 화분 관리의 문제점을 해결해드리기 위해서 태어난
                    자동 화분관리 서비스입니다. 물 조절, 식물 정보관리, 통계까지 모두 해결해 드립니다
                {% endblocktrans %}
            </p>
            <div class="feature-columns">

                <div>
                    <i class="fa fa-tint fa-3x"></i><h3>새로 키울 식물을 검색해보기:</h3>
                </div>
                <div>
                    <br><br><br>
                    <form method="get" action="/list/">
                <input type="text" name="key">  <button type="button" class="btn btn-warning" onclick="submit()">검색</button>
            </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        pid = localStorage.getItem('plantid');
        pname = localStorage.getItem('plantname');
        ppic = localStorage.getItem('plantpic');
        userid = localStorage.getItem('userid');
        username = localStorage.getItem('username');
        if(pid){

            msg = "<span class='btn btn-default'>"+username+"</span>님은 현재 <span class='btn btn-primary'>"+ pname + "</span>를  키우고 계시고 있습니다<br/>" +
                    "<img src="+ppic+" width=300><br/>" +
                    "<h2><span class='btn label-danger'><a href='/user/?userid="+ userid +"&key="+pid+"'> 내 화분 정보 보기</a></span></h2> ";
            $('#search_c').html('')
        }
        else{
            msg = "현재 키우고 계신 식물이 없습니다.<br/>" +
                    "아래 검색창에서 원하시는 식물을 검색해 주세요 ⬇";
        }
            $('#msg').html(msg);
        /*localStorage.setItem('id', 'ilE5Dd5Pbe');
        localStorage.setItem('uname', '박민우');
        localStorage.setItem('pname', '산세베리아');

        setTimeout("alert('HHHH ALERT')",2000 );*/
        function reset_storage(){
            alert("deleteing local")
            localStorage.setItem('plantid', '');
            localStorage.setItem('plantpic', '');
            localStorage.setItem('username', '');
            localStorage.setItem('userid', '');
            localStorage.setItem('plantname', '');
        }
    function set_demodata(){
            alert("set demo")
            localStorage.setItem('plantid', 'li48BNDGWo');
            localStorage.setItem('plantpic', 'http://www.nongsaro.go.kr/cms_contents/301/13203_MF_REPR_ATTACH_01.jpg');
            localStorage.setItem('username', '임순일');
            localStorage.setItem('userid', 'B4218AF00821');
            localStorage.setItem('plantname', '로즈마리');
        }
    </script>
{% endblock %}
